# python
__pycache__/
*.pyc
*.pyo
*.pyd

# venv
.venv/
venv/

# data 
data/raw/*.csv

# outputs
outputs/models/*.pt
outputs/preds/*
outputs/submissions/*.csv

# notebooks
.ipynb_checkpoints/

# os
.DS_Store
*.egg-info/